.Meaning .example::first-letter {
  text-transform: uppercase;
}

.Meaning h3 {
  color: #8e2b29;
  font-weight: bold;
}

.Meaning .definition::first-letter {
  text-transform: uppercase;
}

.Meaning h5 {
  color: #8e2b29;
  font-size: 20px;
}
